* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Work Sans;
}

html {
    font-size: 62.5%;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    position: relative;
    overflow: hidden;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 137.2px 527.8px;
    grid-template-rows: 480px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

header {
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
    background-color: #5A61ED;
    color: #000;
}

.greeting h2{
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.46px;
    color: #111111;
}

.greeting h3{
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    color: #111111;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.852rem 2.2rem 4.348rem 2.2rem;
}

.signup-label{
    position: absolute;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 49px;
    width: 16rem;
    color: #FFF;
    rotate: -90deg;
    bottom: 5.5rem;
    right: -4.5rem;
}

#register-form{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 2rem;
}

#register-form p{
    margin: 16px 0 7px 0;
    font-size: 12px;
    line-height: 14px;
    color: #7C7C7C;
}

#register-form label{
    position: relative;
    font-size: 14px;
    color: #111111;
    padding-left: 2rem;
    cursor: pointer;
}

#register-form input, #register-form select{
    width: 234.5px;
    font-size: 14px;
    line-height: 16px;
    color: #111111;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: 9px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #5A61ED;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #5A61ED;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#register-form input[type="radio"]{
    width: 1.4rem;
    margin-right: .6rem;
    border: #5A61ED;
    display: none;
}

#register-form input[type="text"], #register-form input[type="password"], #register-form input[type="email"], #register-form select{
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    height: 2.72rem;
    transition: .1s;
}

#register-form select[name="date-of-birth"]{
    width: auto;
}

#register-form select[id="day"]{
    width: 56px;
}

#register-form select[id="month"]{
    width: 91px;
}

#register-form select[id="year"]{
    width: 67.67px;
}

.date-of-birth-box{
    display: flex;
    width: 234.5px;
}

#register-form select[id="month"]{
    width: max-content;
}

#register-form select option{
    background: none;
    opacity: 50%;
}

#register-form input:focus{
    outline: none;
    border-bottom-width: 2px;
    border-bottom-color: #5A61ED;
}

.left{
    margin-right: 15px;
}

.gender-box{
    display: flex;
}

#register-form .right p:last-of-type{
    margin: 23px 0 7px 0;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p{
    font-size: 13px;
    font-weight: 200;
    line-height: 15px;
}

.submit-button{
    font-family: "PT Sans";
    padding: .7rem 2.6rem .7rem 2.5rem;
    background-color: #5A61ED;
    color: #fff;
    border: none;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;
}

.submit-button:hover{
    background-color: #5A61E0;
}

.svg-container{
    position: absolute;
    z-index: -1;
    width: 411px;
    height: 411px;
    left: 358px;
    top: 126px;
}

.path{
    fill: none;
    stroke: #362f3c;
    stroke-width: 18px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 200 800;
    stroke-dashoffset: 400;
    transition: ease 10s linear ;
}


